useDynLib(ASCENT, .registration = TRUE)
importFrom(Rcpp, sourceCpp)
import(methods)
import(Matrix)
importFrom(data.table, fread)
importFrom(stringr, str_split_fixed)
importFrom(Hmisc, cut2)
export(CreateASCENTObj)
export(ASCENT_algorithm)
export(CreatePeakToGeneList)
export(check_dimensions)
